<form enctype="multipart/form-data" id="{{ addUserFormId | raw }}" data-form-type="registration" class="form">
    <legend>Добавить пользователя</legend>
    <div class="form-group">
        <label>
            <p>Email:</p>
            <input type="email" name="email" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            <p>Пароль:</p>
            <input type="password" name="password" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <label>
            <p>Подтверждение пароля:</p>
            <input type="password" name="confirm-password" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LcgKhsUAAAAAA3TVA_YTEM0kh2TNmtK92TTH6-U"></div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg">{{ addFormSubmitText | raw }}</button>
    </div>
</form>