{% extends 'layout.twig' %}

{% block content %}
    <form enctype="multipart/form-data" id="authForm" data-form-type="auth" class="form">
        <legend>Вход в личный кабинет</legend>
        <div class="form-group">
            <label>
                Email:
                <input type="email" name="email" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>
                Пароль:
                <input type="password" name="password" class="form-control">
            </label>
        </div>
        <div class="form-group">
            <a href="register">Зарегистрироваться</a>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Войти</button>
        </div>
    </form>
{% endblock %}