<form enctype="multipart/form-data" id="editUserForm" class="form">
    <legend>Редактирование пользователя</legend>
    <div class="form-group">
        <label>
            <p>Email:</p>
            <input type="email"
                   name="email"
                   class="form-control"
                   placeholder="Если пусто, то вы редактируете свой профиль"
            >
        </label>
    </div>

    <div class="form-group">
        <label>
            <p>Пароль:</p>
            <input type="password"
                   name="password"
                   class="form-control"
                   placeholder="Если пусто, то пароль тот же">
        </label>
    </div>

    <div class="form-group">
        <label>
            <p>Имя *:</p>
            <input type="text"
                   name="username"
                   class="form-control"
                   placeholder="Не менее 5 символов"
            >
        </label>
    </div>

    <div class="form-group">
        <label>
            <p>Возраст *:</p>
            <input type="number"
                   min="0"
                   name="age"
                   class="form-control"
                   placeholder="Целое число от 10 до 100"
            >
        </label>
    </div>

    <div class="form-group">
        <label>
            <p>Описание *:</p>
            <textarea type="text"
                      name="about"
                      class="form-control"
                      placeholder="не менее 50 символов"
            ></textarea>
        </label>
    </div>

    <div class="form-group">
        <label>
            <p>Фотография:</p>
            <input type="file" name="file" class="form-control">
        </label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg">Отредактировать</button>
    </div>
</form>