{% extends 'profilePages.twig' %}

{% block content %}
    <table class="table table-bordered" id="userFileTable">
        <thead>
        <th>Название</th>
        <th>Фотография</th>
        <th>Действия</th>
        </thead>
        <tbody>
            {{ fileList|raw }}
        </tbody>
    </table>
{% endblock %}