{% extends 'profilePages.twig' %}

{% block content %}
    <form enctype="multipart/form-data" id="userInfoForm" class="form">
        <div class="form-group">
            <label>
                <p>Ваше имя *:</p>
                <input type="text"
                       name="username"
                       value="{{ name | raw  }}"
                       class="form-control"
                       placeholder="Не менее 5 символов"
                >
            </label>
        </div>
        <div class="form-group">
            <label>
                <p>Ваш возраст *:</p>
                <input type="number"
                       name="age"
                       min="0"
                       value="{{ age | raw  }}"
                       class="form-control"
                       placeholder="Целое число от 10 до 100">
                <p>{{ is_adult | raw  }}</p>
            </label>
        </div>
        <div class="form-group">
            <label>
                <p>Пару строк о себе *:</p>
                <textarea name="about" class="form-control"
                          placeholder="не менее 50 символов"
                >{{ about | raw  }}</textarea>
            </label>
        </div>
        <div class="form-group">
            <label>
                <p>Выберите аватарку:</p>
                <input type="file" name="file" placeholder="Прикрепить файл" accept="image/jpeg,image/png,image/gif">
            </label>
        </div>
        <button type="submit" class="submitButton">Изменить данные</button>
    </form>
    <table class="table table-bordered" id="userFileTable" {{ userFileTableStyle|raw }}>
    <thead>
    <th>Название файла</th>
    <th>Фотография</th>
    <th>Действия</th>
    </thead>
    <tbody>
        {{ fileTblRow|raw }}
    </tbody>
    </table>
{% endblock %}