{% extends 'layout.twig' %}

{% block head_scripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
    {% set addFormSubmitText = 'Зарегистрироваться' %}
    {% set addUserFormId = 'authForm' %}
    {{ include('addUserForm.twig') }}
{% endblock %}