{% extends 'profilePages.twig' %}

{% block head_styles %}
    <link href="../../public/js/arcticmodal/jquery.arcticmodal-0.3.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <table class="table table-bordered" id="userListTable" {{ userTableHide|raw }}>
    <thead>
        <th>Email</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Описание</th>
        <th>Фотография</th>
        <th>Действия</th>
    </thead>
    <tbody>
        {{ userList|raw }}
    </tbody>
    </table>
    <div style="text-align: center">
        <button id="addUser" class="btn btn-success btn-lg">Добавить пользователя</button>
    </div>
    {% set addFormSubmitText = 'Добавить' %}
    {% set addUserFormId = 'addUserForm' %}
    {{ include('addUserForm.twig') }}
    {{ include('editUserForm.twig') }}
{% endblock %}
{% block footer_scripts %}
    <script src="../../public/js/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
{% endblock %}