body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.form-container{
    margin-top: 25%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.form-horizontal {
    width: 35%;
}

table img {
    max-width: 200px;
    max-height: 300px;
}

.form {
    max-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.form label {
    width: 100%;
    text-align: left;
}

.submitButton {
    background-color: #28a52c;
    border:  0;
    color: #fff;
    padding: 5px 23px;
}

#addUserForm, #editUserForm {
    display: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}